.page4-list-item {
  width: 80%;
  margin: 0 auto 24px;
  position: relative;
  font-size: 14px;
  line-height: 2;
  padding-left: 24px;
}
.page4-list-item::after {
  content: '';
  height: 8px;
  width: 8px;
  position: absolute;
  background:#009944;
  border-radius: 50%;
  left: 0;
  top: 8px;
}
